[user]
   name = Manjunath Rajashekhar
   email = manj@cs.stanford.edu
[alias]
   st   = status
   br   = branch
   co   = checkout
   ci   = commit
   df   = diff
   lg   = log -p
    d   = difftool
   prev = checkout HEAD^1
   next = "!sh -c 'git log --reverse --pretty=%H master | awk \"/$(git rev-parse HEAD)/{getline;print}\" | xargs git checkout'"

[color]
   ui = auto
[core]
   editor = vim
   excludesfile = ~/.gitignore
[push]
   default = current
[diff]
   tool = vimdiff
[difftool]
   prompt = false
   trustExitCode = true # abort all diffs with `:cq`
