# .*
# !.gitignore

# java

*.class
*.jar
*.war
*.ear

# intellij

*.iml
*.ipr
*.iws
.idea/

# eclipse

.classpath
.project
.settings/

# playframework
lib
logs
modules
precompiled
project/project
project/target
target
tmp
test-result
server.pid

# C
# compiled object files
*.lo
*.o
# compiled dynamic libraries
*.so
*.la
*.a
# compiled misc
*.dep
*.gcda
*.gcno
*.gcov

# core dump
core*

# temporary
*.swp
*~
*.bak
*.orig

# packages
*.tar.gz
*.tar.bz2
