.*
!.gitignore

# vim
*.swp
*~
*.bak
*.orig

# vscode
.vscode/

# intellij
*.iml
*.ipr
*.iws
.idea/


# java

*.class
*.jar
*.war
*.ear

# eclipse

.classpath
.project
.settings/

# tags
tags
.tags

# sbt

target/

# C
# compiled object files
*.lo
*.o
# compiled dynamic libraries
*.so
*.la
*.a
# compiled misc
*.dep
*.gcda
*.gcno
*.gcov

# Python
*.pyc
__pycache__

# PyTorch
*.pt

# Latex
*.aux
*.fdb_latexmk
*.toc
*.fls
*.pre

# Core dump
core*

# Temporary
*.pid
*.DS_Store
RUNNING_PID
classpath.txt

# Packages
*.tar
*.gz
*.tar.bz2
*.zip
*.bz2

# Logs
*.log
*.out
